<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<h2>Directory</h2>

  <p>{{ directory }}</p>
{#    <ul>#}
{#    {% for listing in json_dir %}#}
{#        <li>#}
{#        {{ listing }}#}
{#        </li>#}
{#    {% endfor %}#}
{#    </ul>#}
    <div id="container"></div>
    <script>
        var directory = JSON.parse('{{ json_dir | tojson | safe}}');
        $(function() {
            $('#container').jstree({
                'core' : {
                    'data' : [
                        directory
                        ]
                }
            });
        });
    </script>
  <p><a href="/">Back to home</a></p>

{% endblock %}
